//basic setting
$main-linkcolor: #666;
$main-linkcolor-hover:#008cba;
$main-linkcolor-active:#008cba;
$fontcolor:#212121;

//mixin
@mixin fontseting ($ft-size,$ft-weight,$font-color) {
  font-size:$ft-size;
  font-weight:$ft-weight;
  color:$font-color;
}
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin breakpoint($point) {
  @if $point == notebook {
    @media (max-width: 1230px) { @content; }
  }
  @else if $point == media-tablet {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == mobiedefault {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == mobiesmall {
    @media (max-width: 468px)  { @content; }
  }      
  @else if $point == mobieold {
    @media (max-width: 320px)  { @content; }
  }         
}